<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<!-- 配置数据源 -->
		<!-- <property name="hibernate.connection.datasource"></property> -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate4</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">xieSHI123321</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.connection.isolation">2</property>

		<!-- 删除对象后，使OID为null -->
		<property name="use_identifier_rollback">true</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- <mapping resource="User.hbm.xml" /> -->
		<!-- <mapping resource="student.hbm.xml" /> -->
		<!-- <mapping resource="com/xywei/hibernate/oneway/many2one/Customer.hbm.xml" /> -->
		<!-- <mapping resource="com/xywei/hibernate/oneway/many2one/Order.hbm.xml" /> -->
		<mapping resource="com/xywei/hibernate/multiway/many2one/Customer.hbm.xml" />
		<mapping resource="com/xywei/hibernate/multiway/many2one/Order.hbm.xml" />
	</session-factory>
</hibernate-configuration>
